@charset "utf-8";

@media only screen and (max-width:400px) {
    @-ms-viewport{
        width:320px;
    }
}
@-ms-viewport{
  width: device-width;
}

/*Forms and footer*/

section {
   margin: 30px 3%;
}

/*section h1 {
   font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
   font-size: 2.7em;
   color: rgb(179, 20, 25);
   margin-bottom: 35px;
}

section p {
   line-height: 1.4em;
   margin: 15px 0px;
}*/

/* Form Layout Styles */
form.contact-form {   /*form#survey...displays the survey form as a flexbox*/
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
form.contact-form > fieldset {         /*form#survey*/
	background-color: rgba(241,242,249,1.00);
	border-radius: 20px;/*rounded corners*/
	-webkit-flex: 1 1 300px;/*flex size of fieldset*/
	flex: 1 1 300px;
	font-size: 0.85em;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 0 10px;
}
div.formRow {           /*div element as flexbox with row orientation*/
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 7px 0px;
}
div.formRow > * { /*objects that are direct children of div.formRow */
	-webkit-flex: 1 1 150px;
	flex: 1 1 150px;
}


/* Text Area Styles */
textarea {
	margin-top: 10px;
	height: 100px;
	width: 95%;/*95%*/
}
/* Spinner Styles */
div.formRow > input#dineSpin {
    -webkit-flex:0 0 50px;
	flex: 0 0 50px;
}
/* Form Button Styles */
div#buttons {
	text-align: center;
	width: 100%;
}
button#btnAlert {  /*new sweetAlert*/
	text-align: center;
	width: 6%;
	margin: 0px 440px 0px 677px;
	height: 40px;
	font-size:21px; font-weight: 88;
	box-shadow: 0 0 10px;
	
}
input[type='submit'], input[type='reset'] {
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
	box-shadow: 0 0 10px;
}


/* Validation Styles */
input:focus, select:focus, textarea:focus {/*color of box*/
	background-color: rgb(220, 255, 220);
}
input#name:focus:valid,
input#mail:focus:valid {
	background: rgb(220,255,220) url("rb_valid.png") bottom right/contain no-repeat;
}
input#name:focus:valid,
input#mail:focus:valid {
	background: rgb(220,255,220) url("rb_invalid.png") bottom right/contain no-repeat;
}

/* Footer styles */   

footer {
   color: white;    
   background: linear-gradient(345deg, rgb(65, 190, 244),
		                                rgb(150,117, 206) 60%);
   -moz-column-width: 200px;
   -webkit-column-width: 200px;
    column-width: 200px;

   -moz-column-gap: 25px;
   -webkit-column-gap: 25px;
    column-gap: 25px;
    
    padding: 30px 30px;
  }

#footmargin {
	margin-left: 70px;
	text-align: center;
}
#1footmargin {
	margin-left: 70px;
	text-align: center;
}
/*#copyright_margin{
	margin-left: 80px;
}
#rightside {
	margin-right: 140px;
}*/

#script h5 {
	font-family: 'Satisfy', cursive;
	font-size:34px; font-weight:normal; 
	font-style:normal; /*text-align:center;*/
    position: relative;
    top: 200%;
    transform: translateX(53%) translateY(-50%); /*up and down position*/
}
#1script h5 {
	font-family: 'Satisfy', cursive;
	font-size:34px; font-weight:normal; 
	font-style:normal; /*text-align:center;*/
    position: relative;
    top: 200%;
    transform: translateX(53%) translateY(-50%); /*up and down position*/
}
footer h1 {
   color: rgb(255, 255, 255);   
   font-size: 1.2em;
}
footer ul li {
	 font-size: 1.2em;
}

footer h1:first-of-type {
   margin-top: 0px;
}

footer a {
  display: block;
   color: white;
   text-decoration: none;
   font-size: 0.9em;
}
footer a:hover {
   text-decoration: none;
   color: #41bef4;
}
ul li {
	list-style-type: none;
}
/*circle of love image*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
/*dove*/
#dove {
   
   width: 20%;
 }


/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {

   
   a#navicon {
      display: block;
   }
   
   header nav ul {
      display: none;
   }
   
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }
   
   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
   
   section h1 {
      font-size: 1.5em;
   }
   
   section p {
      font-size: 0.9em;
   }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {

   body header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }
   
   body header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}


